version: '3.8'

services:
  postgres:
    image: postgres:17
    container_name: sensor-postgres
    ports:
      - "5432:5432"
    environment:
      POSTGRES_DB: sensor_db
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin
    volumes:
      - postgres-data:/var/lib/postgresql/data
    restart: unless-stopped

volumes:
  postgres-data: